In [1]:
#########################################################
# Imports modules
#########################################################

import os
import array
import argparse
import base64
import csv
import sys
import numpy as np
import pandas as pd
import tensorflow as tf
from ast import literal_eval
from tqdm import tqdm
import matplotlib.pyplot as plt

In [2]:
my_path = os.getcwd()
my_dir = '/home/ubuntu/dr-you-ecg-20220420_mount/STEMI_JKL/221028_STEMI/'

In [3]:
## You have to set dir where decoded data exist
x_folder =  '/home/ubuntu/dr-you-ecg-20220420_mount/220927_SevMUSE_EKG_waveform'
x_data = os.listdir(x_folder)
x_data.sort()

x_data[0], x_data[-1]

('10000014_20200602_0936.csv', '9999994_20200611_1018.csv')

In [4]:
len(x_data)

3761137

In [5]:
My_dir = '/home/ubuntu/dr-you-ecg-20220420_mount/STEMI_JKL/2301_STEMI/'

---

# 0. Internal Set (updated KOMATE_v2)
- 1,319

In [6]:
df_test = pd.read_csv('/home/ubuntu/Kyulee/ECG_2301/df_2020_v3.csv')
df_test.shape

(1318, 7)

### (1) x_dataset
- check 500 Hz
- ECG lead 12 to 8

In [11]:
# Series → list
x_list = df_test['ecg_id'].values.tolist()
y_list = df_test['STEMI'].values.tolist()

In [12]:
# List → numpy array
x_npy = np.array(x_list)
y_npy = np.array(y_list)

In [13]:
x_npy.shape, y_npy.shape

((1318,), (1318,))

In [14]:
x_ecg = []
x_dataset = []
numList = []

for i in tqdm(x_list):
    x_dir = x_folder +'/'+ i+'.csv'
    df_x = pd.read_csv(x_dir)
    if len(df_x) == 5000 :
        df_x_lead = df_x[['I', 'II', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6']]
        a = x_list.index(i)
        numList.append(a)
        df_x_numpy = df_x_lead.to_numpy()
        x_dataset.append(df_x_numpy)

100%|████████████████████████████████████████████████████████| 1318/1318 [02:18<00:00,  9.55it/s]

In [15]:
X_dataset = np.array(x_dataset)
X_dataset.shape

(1318, 5000, 8)

In [17]:
# save
np.save(my_path+'/x_test_0114.npy',X_dataset)

### (2) y_dataset

In [16]:
y_list_final = []

for i in numList :
    y_list_final.append(y_list[i])
    
y_npy = np.array(y_list_final)
Y_dataset = y_npy
Y_dataset.shape

(1318,)

In [18]:
# save
np.save(my_path+'/y_test_0114.npy',Y_dataset)

In [20]:
del df_test
del x_list
del y_list
del x_npy
del y_npy
del X_dataset
del Y_dataset

# 1. CP 1st Activation
- 137

In [6]:
df_test = pd.read_csv(my_path+'/230120_CP1stActivation(2020).csv')
df_test.shape

(136, 6)

### (1) x_dataset
- check 500 Hz
- ECG lead 12 to 8

In [7]:
# Series → list
x_list = df_test['ecg_id'].values.tolist()
y_list = df_test['STEMI'].values.tolist()

In [8]:
# List → numpy array
x_npy = np.array(x_list)
y_npy = np.array(y_list)

In [9]:
x_npy.shape, y_npy.shape

((136,), (136,))

In [10]:
x_ecg = []
x_dataset = []
numList = []

for i in tqdm(x_list):
    x_dir = x_folder +'/'+ i+'.csv'
    df_x = pd.read_csv(x_dir)
    if len(df_x) == 5000 :
        df_x_lead = df_x[['I', 'II', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6']]
        a = x_list.index(i)
        numList.append(a)
        df_x_numpy = df_x_lead.to_numpy()
        x_dataset.append(df_x_numpy)

100%|█████████████████████████████████████████| 136/136 [00:11<00:00, 11.67it/s]

In [11]:
X_dataset = np.array(x_dataset)
X_dataset.shape

(136, 5000, 8)

In [12]:
# save
np.save(my_path+'/x_cp_0120.npy',X_dataset)

### (2) y_dataset

In [13]:
y_list_final = []

for i in numList :
    y_list_final.append(y_list[i])
    
y_npy = np.array(y_list_final)
Y_dataset = y_npy
Y_dataset.shape

(136,)

In [14]:
# save
np.save(my_path+'/y_cp_0120.npy',Y_dataset)

In [15]:
del df_test
del x_list
del y_list
del x_npy
del y_npy
del X_dataset
del Y_dataset

# 2. ED Troponin-T
- 25,892

In [16]:
df_test = pd.read_csv(my_path+'/230120_Troponin-T(2020).csv')
df_test.shape

(12683, 7)

### (1) x_dataset
- check 500 Hz
- ECG lead 12 to 8

In [17]:
# Series → list
x_list = df_test['ecg_id'].values.tolist()
y_list = df_test['STEMI'].values.tolist()

In [18]:
# List → numpy array
x_npy = np.array(x_list)
y_npy = np.array(y_list)

In [19]:
x_npy.shape, y_npy.shape

((12683,), (12683,))

In [20]:
x_ecg = []
x_dataset = []
numList = []

for i in tqdm(x_list):
    x_dir = x_folder +'/'+ i+'.csv'
    df_x = pd.read_csv(x_dir)
    if len(df_x) == 5000 :
        df_x_lead = df_x[['I', 'II', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6']]
        a = x_list.index(i)
        numList.append(a)
        df_x_numpy = df_x_lead.to_numpy()
        x_dataset.append(df_x_numpy)

100%|█████████████████████████████████████| 12683/12683 [18:56<00:00, 11.16it/s]

In [21]:
X_dataset = np.array(x_dataset)
X_dataset.shape

(12683, 5000, 8)

In [23]:
# save
np.save(my_path+'/x_trop_0120.npy',X_dataset)

### (2) y_dataset

In [24]:
y_list_final = []

for i in numList :
    y_list_final.append(y_list[i])
    
y_npy = np.array(y_list_final)
Y_dataset = y_npy
Y_dataset.shape

(12683,)

In [25]:
# save
np.save(my_path+'/y_trop_0120.npy',Y_dataset)

In [26]:
del df_test
del x_list
del y_list
del x_npy
del y_npy
del X_dataset
del Y_dataset

# 3. ED chestpain
- 3,144

In [47]:
df_test = pd.read_csv(my_path+'/230113_chestpain(2020).csv')
df_test.shape

(2765, 6)

### (1) x_dataset
- check 500 Hz
- ECG lead 12 to 8

In [48]:
# Series → list
x_list = df_test['ecg_id'].values.tolist()
y_list = df_test['STEMI'].values.tolist()

In [49]:
# List → numpy array
x_npy = np.array(x_list)
y_npy = np.array(y_list)

In [50]:
x_npy.shape, y_npy.shape

((2765,), (2765,))

In [51]:
x_ecg = []
x_dataset = []
numList = []

for i in tqdm(x_list):
    x_dir = x_folder +'/'+ i+'.csv'
    df_x = pd.read_csv(x_dir)
    if len(df_x) == 5000 :
        df_x_lead = df_x[['I', 'II', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6']]
        a = x_list.index(i)
        numList.append(a)
        df_x_numpy = df_x_lead.to_numpy()
        x_dataset.append(df_x_numpy)

100%|████████████████████████████████████████████████████████| 2765/2765 [00:56<00:00, 49.22it/s]

In [52]:
X_dataset = np.array(x_dataset)
X_dataset.shape

(2765, 5000, 8)

In [53]:
# save
np.save(my_path+'/x_pain_0113.npy',X_dataset)

### (2) y_dataset

In [54]:
y_list_final = []

for i in numList :
    y_list_final.append(y_list[i])
    
y_npy = np.array(y_list_final)
Y_dataset = y_npy
Y_dataset.shape

(2765,)

In [55]:
# save
np.save(my_path+'/y_pain_0113.npy',Y_dataset)

In [56]:
del df_test
del x_list
del y_list
del x_npy
del y_npy
del X_dataset
del Y_dataset

In [7]:
dftrop.head(2)

,AlsUnitNo,CHART_NO,trop_datetime,acq_datetime,ecg_id,STEMI
0,3474309.0,5121505,2020-01-03 14:01:00,2020-01-03 12:44:11,3474309_20200103_1244,1
1,4844952.0,3312853,2020-01-04 16:46:00,2020-01-04 15:44:15,4844952_20200104_1544,1

In [8]:
dfcp.head(2)

,AlsUnitNo,date,SH_datetime,ecg_datetime,ecg_id,STEMI
0,4264141,2020-01-13 00:00:00,2020-01-13 04:07:00,2020-01-13 04:07:00,4264141_20200113_0407,1
1,2914490,2020-01-20 00:00:00,2020-01-20 11:14:00,2020-01-20 11:14:00,2914490_20200120_1114,0

In [9]:
dftrop = dftrop[['AlsUnitNo', 'acq_datetime', 'ecg_id', 'STEMI']]
dfcp = dfcp[['AlsUnitNo', 'ecg_datetime', 'ecg_id', 'STEMI']]
df = pd.merge(dftrop, dfcp, on=['ecg_id'])
df

,AlsUnitNo_x,acq_datetime,ecg_id,STEMI_x,AlsUnitNo_y,ecg_datetime,STEMI_y
0,3474309.0,2020-01-03 12:44:11,3474309_20200103_1244,1,3474309,2020-01-03 12:44:00,1
1,4844952.0,2020-01-04 15:44:15,4844952_20200104_1544,1,4844952,2020-01-04 15:44:00,1
2,4236762.0,2020-02-18 13:29:43,4236762_20200218_1329,1,4236762,2020-02-18 13:29:00,1
3,1874379.0,2020-02-23 20:38:58,1874379_20200223_2038,1,1874379,2020-02-23 20:38:00,1
4,4593593.0,2020-02-25 00:36:43,4593593_20200225_0036,1,4593593,2020-02-25 00:36:00,1
5,2556166.0,2020-04-22 07:21:53,2556166_20200422_0721,1,2556166,2020-04-22 07:21:00,1
6,4454276.0,2020-05-08 22:31:57,4454276_20200508_2231,1,4454276,2020-05-08 22:31:00,1
7,3607569.0,2020-05-19 15:29:34,3607569_20200519_1529,1,3607569,2020-05-19 15:29:00,1
8,3066059.0,2020-06-18 21:24:30,3066059_20200618_2124,1,3066059,2020-06-18 21:24:00,1
9,10087882.0,2020-09-05 21:43:50,10087882_20200905_2143,1,10087882,2020-09-05 21:43:00,1
10,2336368.0,2020-09-14 10:29:38,2336368_20200914_1029,1,2336368,2020-09-14 10:29:00,1
11,4102009.0,2020-10-05 07:57:24,4102009_20201005_0757,1,4102009,2020-10-05 07:57:00,1
12,4563360.0,2020-10-14 09:18:32,4563360_20201014_0918,1,4563360,2020-10-14 09:18:00,1
13,4936305.0,2020-10-15 14:33:26,4936305_20201015_1433,1,4936305,2020-10-15 14:33:00,1
14,2420643.0,2020-10-16 02:14:58,2420643_20201016_0214,1,2420643,2020-10-16 02:14:00,1
15,10133714.0,2020-10-30 13:38:08,10133714_20201030_1338,1,10133714,2020-10-30 13:38:00,1
16,4522861.0,2020-11-09 11:17:53,4522861_20201109_1117,1,4522861,2020-11-09 11:17:00,1
17,2236970.0,2020-11-25 19:27:49,2236970_20201125_1927,1,2236970,2020-11-25 19:27:00,1
18,10159060.0,2020-11-29 04:03:18,10159060_20201129_0403,1,10159060,2020-11-29 04:03:00,1
19,535192.0,2020-12-22 17:58:57,535192_20201222_1758,1,535192,2020-12-22 17:58:00,1
20,3236502.0,2020-12-26 21:57:46,3236502_20201226_2157,1,3236502,2020-12-26 21:57:00,1
21,4264141.0,2020-01-13 04:07:00,4264141_20200113_0407,0,4264141,2020-01-13 04:07:00,1
22,2914490.0,2020-01-20 11:14:00,2914490_20200120_1114,0,2914490,2020-01-20 11:14:00,0
23,2174976.0,2020-01-23 03:11:00,2174976_20200123_0311,0,2174976,2020-01-23 03:11:00,0
24,3543437.0,2020-01-30 16:36:00,3543437_20200130_1636,0,3543437,2020-01-30 16:36:00,0
25,3064952.0,2020-02-01 11:28:00,3064952_20200201_1128,0,3064952,2020-02-01 11:28:00,1
26,3106976.0,2020-03-27 16:51:00,3106976_20200327_1651,0,3106976,2020-03-27 16:51:00,1
27,1851383.0,2020-05-09 11:19:00,1851383_20200509_1119,0,1851383,2020-05-09 11:19:00,0
28,10065620.0,2020-08-10 14:35:00,10065620_20200810_1435,0,10065620,2020-08-10 14:35:00,1
29,3958530.0,2020-12-29 12:04:00,3958530_20201229_1204,0,3958530,2020-12-29 12:04:00,1

In [10]:
df.head(2)

,AlsUnitNo_x,acq_datetime,ecg_id,STEMI_x,AlsUnitNo_y,ecg_datetime,STEMI_y
0,3474309.0,2020-01-03 12:44:11,3474309_20200103_1244,1,3474309,2020-01-03 12:44:00,1
1,4844952.0,2020-01-04 15:44:15,4844952_20200104_1544,1,4844952,2020-01-04 15:44:00,1

In [11]:
dftrop[dftrop['ecg_id']=='4264141_20200113_0407']

     AlsUnitNo         acq_datetime                 ecg_id  STEMI
666  4264141.0  2020-01-13 04:07:00  4264141_20200113_0407      0

In [12]:
df.columns = ['AlsUnitNo', 'trop_datetime', 'ecg_id', 'trop_STEMI', 'cp_AlsUnitNo', 'ecg_datetime', 'cp_STEMI']
df = df[['AlsUnitNo', 'ecg_datetime', 'ecg_id', 'trop_STEMI', 'cp_STEMI']]
df.head()

   AlsUnitNo         ecg_datetime                 ecg_id  trop_STEMI  cp_STEMI
0  3474309.0  2020-01-03 12:44:00  3474309_20200103_1244           1         1
1  4844952.0  2020-01-04 15:44:00  4844952_20200104_1544           1         1
2  4236762.0  2020-02-18 13:29:00  4236762_20200218_1329           1         1
3  1874379.0  2020-02-23 20:38:00  1874379_20200223_2038           1         1
4  4593593.0  2020-02-25 00:36:00  4593593_20200225_0036           1         1

In [13]:
df[df['trop_STEMI'] != df['cp_STEMI']]

,AlsUnitNo,ecg_datetime,ecg_id,trop_STEMI,cp_STEMI
21,4264141.0,2020-01-13 04:07:00,4264141_20200113_0407,0,1
25,3064952.0,2020-02-01 11:28:00,3064952_20200201_1128,0,1
26,3106976.0,2020-03-27 16:51:00,3106976_20200327_1651,0,1
28,10065620.0,2020-08-10 14:35:00,10065620_20200810_1435,0,1
29,3958530.0,2020-12-29 12:04:00,3958530_20201229_1204,0,1

In [15]:
df_2020 = pd.read_csv('/home/ubuntu/dr-you-ecg-20220420_mount/STEMI_JKL/df_2020.csv')
#df_stemi = df_2020[df_2020['STEMI']==1]
df_2020 = df_2020[['AlsUnitNo', 'acq_datetime', 'ecg_id', 'STEMI']]
df_2020.head()

   AlsUnitNo         acq_datetime                 ecg_id  STEMI
0   366020.0  2020-12-10 14:47:38   366020_20201210_1447      1
1   535192.0  2020-12-22 17:58:57   535192_20201222_1758      1
2   706393.0  2020-05-12 09:40:15   706393_20200512_0940      1
3   963810.0  2020-06-01 12:52:41   963810_20200601_1252      1
4  1223017.0  2020-01-11 21:51:28  1223017_20200111_2151      1

In [17]:
df_2020[df_2020['ecg_id']=='3958530_20201229_1204']
# check : trop_stemi 가 맞는 듯.. 아 그러고보니 cp_STEMI는 왜 1로 됐지??? 아 원래 0인데 이번에 새로 1로 추가한건가봄 이상협 쌤이 봐주신거

Empty DataFrame
Columns: [AlsUnitNo, acq_datetime, ecg_id, STEMI]
Index: []

In [ ]:
# 따라서 cp_STEMI로 trop_STEMI도 바꾸기! (위에 5개)

##### x_dataset
- check 500 Hz
- ECG lead 12 to 8

In [26]:
# Series → list
x_list = dfcp['ecg_id'].values.tolist()
y_list = dfcp['STEMI'].values.tolist()

In [27]:
# List → numpy array
x_npy = np.array(x_list)
y_npy = np.array(y_list)

In [28]:
x_npy.shape, y_npy.shape

((136,), (136,))

In [29]:
x_ecg = []
x_dataset = []
numList = []

for i in tqdm(x_list):
    x_dir = x_folder +'/'+ i+'.csv'
    df_x = pd.read_csv(x_dir)
    if len(df_x) == 5000 :
        df_x_lead = df_x[['I', 'II', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6']]
        a = x_list.index(i)
        numList.append(a)
        df_x_numpy = df_x_lead.to_numpy()
        x_dataset.append(df_x_numpy)

100%|█████████████████████████████████████████| 136/136 [00:11<00:00, 12.20it/s]

In [30]:
X_dataset = np.array(x_dataset)
X_dataset.shape

(136, 5000, 8)

In [31]:
# save
np.save(my_path+'/x_fcp_0106',X_dataset)

##### y_dataset

In [32]:
y_list_final = []

for i in numList :
    y_list_final.append(y_list[i])
    
y_npy = np.array(y_list_final)
Y_dataset = y_npy
Y_dataset.shape

(136,)

In [33]:
# save
np.save(my_path+'/y_fcp_0106',Y_dataset)

##### update label data (not used)

In [16]:
komate_label_final = dftrop.loc[numList]

In [17]:
komate_label_final.reset_index(drop=True, inplace=True)
komate_label_final

,AlsUnitNo,chartno,trop_date,acq_datetime,ecg_id,STEMI
0,535192.0,2431894,2020-12-22 18:57:07,2020-12-22 17:58:57,535192_20201222_1758,1
1,1737853.0,5563072,2020-10-02 00:55:36,2020-10-02 02:00:32,1737853_20201002_0200,1
2,1845609.0,2841063,2020-02-27 10:20:18,2020-02-27 09:14:13,1845609_20200227_0914,1
3,1874379.0,5015653,2020-02-23 22:02:00,2020-02-23 20:38:58,1874379_20200223_2038,1
4,2236970.0,7611872,2020-11-25 20:16:24,2020-11-25 19:27:49,2236970_20201125_1927,1
...,...,...,...,...,...,...
8079,3317005.0,5132146,2020-12-31 02:31:45,2020-12-31 01:32:00,3317005_20201231_0132,0
8080,3482144.0,3363538,2020-12-31 14:46:23,2020-12-31 12:56:00,3482144_20201231_1256,0
8081,3525668.0,8234264,2020-12-31 06:11:21,2020-12-31 07:58:00,3525668_20201231_0758,0
8082,3679274.0,8656391,2020-12-31 15:09:02,2020-12-31 08:28:00,3679274_20201231_0828,0
8083,3715380.0,3294821,2020-12-31 03:34:33,2020-12-31 14:42:00,3715380_20201231_1442,0

In [18]:
# final label table
komate_label_final.to_csv(my_dir +"/df_trop.csv")

In [19]:
komate_label_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8084 entries, 0 to 8083
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   AlsUnitNo     8084 non-null   float64
 1   chartno       8084 non-null   object
 2   trop_date     8084 non-null   object
 3   acq_datetime  8084 non-null   object
 4   ecg_id        8084 non-null   object
 5   STEMI         8084 non-null   int64
dtypes: float64(1), int64(1), object(4)
memory usage: 379.1+ KB

In [20]:
komate_label_final.nunique()

AlsUnitNo       4701
chartno         4666
trop_date       8084
acq_datetime    8016
ecg_id          8084
STEMI              2
dtype: int64

In [21]:
stemi = komate_label_final[komate_label_final['STEMI']==1]
stemi.nunique()

AlsUnitNo       16
chartno         16
trop_date       16
acq_datetime    16
ecg_id          16
STEMI            1
dtype: int64